@import "../../styles/colors.scss";

.iconWrap {
  position: absolute;
  padding: 10px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -15px;
  right: -10px;

  &.red {
    background-color: $invalid;
  }

  &.green {
    background-color: $valid;
  }
}